<section class="row mt-5">
    <div class="col">
        <button class="btn btn-outline-warning mb-3 btn-lg float-right " data-toggle="modal" data-target="#modalBook">
          <i class="fa fa-book mr-1"></i>New Book</button>
         
        <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"><i class="fa fa-table"></i></th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Language</th>
      <th scope="col">Price</th>
      <th scope="col">Offer</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{book.tittle}}</td>
      <td>{{book.author}}</td>
      <td>{{book.language}}</td>
      <td>{{book.price}}</td>
      <td>{{book.offer ==1 ? 'Yes' : 'No'}}</td>
      <td *ngIf=" book.userUid == userUid || isAdmin == true; else noOwner"><button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#modalBook" (click)="onPreUpdateBook(book)">
        <i class="fa fa-retweet "></i>
        </button>
      </td>
      <ng-template #noOwner>
        <td>
          <button type="button" class="btn btn-secondary"   disabled="true">
            <i class="fa fa-retweet "></i>
            </button>
        </td>
      </ng-template>
      <td *ngIf="isAdmin == true; else noAdmin">
        <button type="button" class="btn btn-danger" (click)="onDeleteBook(book.id)"><i class="fa fa-trash mr-0"></i></button>
      </td>
      <ng-template #noAdmin>
        <td>
          <button type="button" class="btn btn-danger" disabled="true"><i class="fa fa-trash mr-0"></i></button>
        </td>
      </ng-template>
    </tr>
   
  </tbody>
</table>
    </div>
</section>
<app-modal [userUid]="userUid"></app-modal>