.form-control.login-user {
    border: 0px solid #fff !important;
  }
  


  .btn-social{
    position: relative;
    
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    border-color:(0,0,0,0.2) ;

  }
  .btn-google{
    background: #dd4b39;

  }
  .btn-github{
    background: #24292E;

  }